html {
  font-family: 'Quicksand', sans-serif;
}
header {
  padding: 0 1rem;
}
header > div {
  height: 5rem;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .icon {
  margin-right: auto;
}
header .icon img {
  height: 2.5rem;
}
header .contact {
  padding: 0.625rem 1.5rem;
  color: #007FFF;
  border: 0.125rem solid #007FFF;
  border-radius: 1.5rem;
  transition-property: color, background;
  transition-duration: 0.25s;
}
header .contact:hover {
  color: #FFF;
  background: #007FFF;
}

/* Main */
/* Title */
main {
  color: #000D;
}
main > div > div {
  max-width: 960px;
  margin: 0 auto;
}
.introduction {
  margin: 4rem 0;
}
.introduction h1 {
  margin: 0 0 1.5rem;
  font-size: 2.5rem;
  text-align: center;
}
.introduction p {
  font-size: 1.5rem;
  text-align: center;
  color: #0008;
}
/* Works */
.title-belt {
  margin: 4rem 0 -12rem;
  padding: 4rem 0 16rem;
  color: #FFF;
  background: #007FFF;
  text-align: center;
}
.title-belt h2 {
  font-size: 1.5rem;
}
.i-as {
  padding: 0 1rem;
}
.i-as > div {
  display: flex;
  background: #FFF;
  border: 1px solid #0001;
  border-radius: 0.5rem;
}
.i-as > div > div {
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  border-right: 1px solid #0001;
}
.i-as > div > div:last-child {
  border: none;
}
.i-as > div > div > i {
  margin: 0 0 2rem;
  color: #007FFF;
  font-size: 3rem;
}
.i-as > div > div > h3 {
  margin: 0 0 1.375rem;
  font-size: 1.375rem;
}
.i-as > div > div > p {
  line-height: 1.5;
}
.i-as > div > div > h4 {
  margin-top: 1.25rem;
  color: #007FFF;
  font-size: 1.25rem;
}
.i-as > div > div > ul {
  margin-top: 1rem;
  font-family: sans-serif;
}
.i-as > div > div li {
  margin-top: 0.25rem;
  line-height: 1.5;
}

/* Footer */
footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  color: #FFFD;
  background: #007FFF;
}
footer > div {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
footer img.icon {
  height: 2.5rem;
  margin: 0 auto 2rem;
}
footer .sns {
  display: flex;
  justify-content: center;
}
footer .sns > a {
  margin: 0 0.75rem;
  padding: 0.75rem;
  font-size: 1.25rem;
  border: 2px solid #FFFD;
  border-radius: 50%;
  transition-property: color, background, border-color;
  transition-duration: 0.25s;
}
footer .sns > a:hover {
  color: #007FFF;
  background: #FFF;
  border-color: #FFF;
}
footer p {
  margin-top: 2rem;
  color: #FFFA;
}
/* Responsive */
@media (max-width: 960px) {
  .i-as > div {
    display: block;
  }
  .i-as > div > div {
    border-right: none;
    border-bottom: 1px solid #0001;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
  .introduction {
    margin: 4rem 0;
  }
  .introduction h1 {
    font-size: 2rem;
  }
}